/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  background: linear-gradient(50deg,#0000 calc(50% - 0.5em),#dfdfdf 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.loader::before {
  content: "Just a Seconds...";
  color: #e6e6e6;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(50deg,#9e9e9e calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}

@media (max-width:1020px){
  .loader {
    font-size: 0px;
  }
  
}